## Preprocessing

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
import pandas as pd
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [24]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [25]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type[application_type < 500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [27]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

classification_count = application_df["CLASSIFICATION"].value_counts()
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [28]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_value = classification_count.loc[classification_count>1]
classification_value

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_count[classification_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_application_df = pd.get_dummies(application_df)
dummies_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [31]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = dummies_application_df['IS_SUCCESSFUL'].values
X = dummies_application_df.drop(columns='IS_SUCCESSFUL').values


# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
# Define the model
# Define the model
model = Sequential()

# Input layer
model.add(Dense(units=512, input_dim=X_train_scaled.shape[1]))
model.add(BatchNormalization())
model.add(Dropout(0.5))

# First Hidden layer
model.add(Dense(units=256))
model.add(BatchNormalization())
model.add(Dropout(0.4))

# Second Hidden layer
model.add(Dense(units=128))
model.add(BatchNormalization())
model.add(Dropout(0.3))

# Third Hidden layer
model.add(Dense(units=64))
model.add(BatchNormalization())
model.add(Dropout(0.3))

# Fourth Hidden layer
model.add(Dense(units=32))
model.add(BatchNormalization())
model.add(Dropout(0.3))

# Output layer
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Display the model summary
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 512)               22528

 batch_normalization_5 (Bat  (None, 512)               2048
 chNormalization)

 dropout_5 (Dropout)         (None, 512)               0

 dense_7 (Dense)             (None, 256)               131328

 batch_normalization_6 (Bat  (None, 256)               1024
 chNormalization)

 dropout_6 (Dropout)         (None, 256)               0

 dense_8 (Dense)             (None, 128)               32896

 batch_normalization_7 (Bat  (None, 128)               512
 chNormalization)

 dropout_7 (Dropout)         (None, 128)               0

 dense_9 (Dense)             (None, 64)                8256

 batch_normalization_8 (Bat  (None, 64)                256
 chNormalization)

 dropout_8 (Dropout)         (None, 64)                0

 dense_10 (Dense)            (None, 32)                2080

 batch_normalization_9 (Bat  (None, 32)                128
 chNormalization)

 dropout_9 (Dropout)         (None, 32)                0

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 201089 (785.50 KB)
Trainable params: 199105 (777.75 KB)
Non-trainable params: 1984 (7.75 KB)
_________________________________________________________________

In [36]:
# Compile the model
from tensorflow.keras.optimizers import Adam
# Compile the model
adam = Adam(learning_rate=0.001)
model.compile(optimizer=adam, loss='binary_crossentropy', metrics=['accuracy'])

# Check the structure of the model
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 512)               22528

 batch_normalization_5 (Bat  (None, 512)               2048
 chNormalization)

 dropout_5 (Dropout)         (None, 512)               0

 dense_7 (Dense)             (None, 256)               131328

 batch_normalization_6 (Bat  (None, 256)               1024
 chNormalization)

 dropout_6 (Dropout)         (None, 256)               0

 dense_8 (Dense)             (None, 128)               32896

 batch_normalization_7 (Bat  (None, 128)               512
 chNormalization)

 dropout_7 (Dropout)         (None, 128)               0

 dense_9 (Dense)             (None, 64)                8256

 batch_normalization_8 (Bat  (None, 64)                256
 chNormalization)

 dropout_8 (Dropout)         (None, 64)                0

 dense_10 (Dense)            (None, 32)                2080

 batch_normalization_9 (Bat  (None, 32)                128
 chNormalization)

 dropout_9 (Dropout)         (None, 32)                0

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 201089 (785.50 KB)
Trainable params: 199105 (777.75 KB)
Non-trainable params: 1984 (7.75 KB)
_________________________________________________________________

In [38]:
# Train the model
history = model.fit(X_train_scaled, y_train,
                    epochs=50,  # Number of epochs (iterations over the entire dataset)
                    batch_size=32,  # Number of samples per gradient update
                    validation_data=(X_test_scaled, y_test),  # Validation data for evaluation
                    verbose=1)  # Verbosity mode (1 for progress bar, 0 for silent)

# Print the history
print(history.history.keys())

Epoch 1/50
804/804 [==============================] - 15s 9ms/step - loss: 0.6399 - accuracy: 0.6819 - val_loss: 0.5863 - val_accuracy: 0.7152
Epoch 2/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5974 - accuracy: 0.7142 - val_loss: 0.5851 - val_accuracy: 0.7164
Epoch 3/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5910 - accuracy: 0.7186 - val_loss: 0.5859 - val_accuracy: 0.7171
Epoch 4/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5877 - accuracy: 0.7193 - val_loss: 0.5845 - val_accuracy: 0.7199
Epoch 5/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5884 - accuracy: 0.7179 - val_loss: 0.5831 - val_accuracy: 0.7195
Epoch 6/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5861 - accuracy: 0.7212 - val_loss: 0.5826 - val_accuracy: 0.7169
Epoch 7/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5854 - accuracy: 0.7220 - val_loss: 0.5851 - val_accuracy: 0.7155
Epoch 8/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5839 - accuracy: 0.7212 - val_loss: 0.5848 - val_accuracy: 0.7184
Epoch 9/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5846 - accuracy: 0.7190 - val_loss: 0.5855 - val_accuracy: 0.7103
Epoch 10/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5856 - accuracy: 0.7201 - val_loss: 0.5831 - val_accuracy: 0.7188
Epoch 11/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5848 - accuracy: 0.7218 - val_loss: 0.5846 - val_accuracy: 0.7199
Epoch 12/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5833 - accuracy: 0.7204 - val_loss: 0.5842 - val_accuracy: 0.7200
Epoch 13/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5852 - accuracy: 0.7200 - val_loss: 0.5835 - val_accuracy: 0.7137
Epoch 14/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5836 - accuracy: 0.7203 - val_loss: 0.5836 - val_accuracy: 0.7193
Epoch 15/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5834 - accuracy: 0.7216 - val_loss: 0.5832 - val_accuracy: 0.7183
Epoch 16/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5839 - accuracy: 0.7199 - val_loss: 0.5827 - val_accuracy: 0.7166
Epoch 17/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5829 - accuracy: 0.7205 - val_loss: 0.5836 - val_accuracy: 0.7179
Epoch 18/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5833 - accuracy: 0.7210 - val_loss: 0.5833 - val_accuracy: 0.7203
Epoch 19/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5832 - accuracy: 0.7202 - val_loss: 0.5833 - val_accuracy: 0.7174
Epoch 20/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5839 - accuracy: 0.7222 - val_loss: 0.5824 - val_accuracy: 0.7167
Epoch 21/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5820 - accuracy: 0.7217 - val_loss: 0.5858 - val_accuracy: 0.7180
Epoch 22/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5836 - accuracy: 0.7208 - val_loss: 0.5826 - val_accuracy: 0.7190
Epoch 23/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5835 - accuracy: 0.7202 - val_loss: 0.5828 - val_accuracy: 0.7143
Epoch 24/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5833 - accuracy: 0.7211 - val_loss: 0.5836 - val_accuracy: 0.7137
Epoch 25/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5844 - accuracy: 0.7201 - val_loss: 0.5834 - val_accuracy: 0.7173
Epoch 26/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5826 - accuracy: 0.7220 - val_loss: 0.5829 - val_accuracy: 0.7188
Epoch 27/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5831 - accuracy: 0.7215 - val_loss: 0.5844 - val_accuracy: 0.7174
Epoch 28/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5844 - accuracy: 0.7220 - val_loss: 0.5827 - val_accuracy: 0.7171
Epoch 29/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5823 - accuracy: 0.7204 - val_loss: 0.5829 - val_accuracy: 0.7195
Epoch 30/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5836 - accuracy: 0.7218 - val_loss: 0.5829 - val_accuracy: 0.7194
Epoch 31/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5818 - accuracy: 0.7210 - val_loss: 0.5819 - val_accuracy: 0.7178
Epoch 32/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5826 - accuracy: 0.7219 - val_loss: 0.5832 - val_accuracy: 0.7177
Epoch 33/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5818 - accuracy: 0.7225 - val_loss: 0.5817 - val_accuracy: 0.7192
Epoch 34/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5829 - accuracy: 0.7208 - val_loss: 0.5836 - val_accuracy: 0.7158
Epoch 35/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5841 - accuracy: 0.7190 - val_loss: 0.5827 - val_accuracy: 0.7199
Epoch 36/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5842 - accuracy: 0.7220 - val_loss: 0.5842 - val_accuracy: 0.7183
Epoch 37/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5842 - accuracy: 0.7217 - val_loss: 0.5836 - val_accuracy: 0.7176
Epoch 38/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5830 - accuracy: 0.7231 - val_loss: 0.5827 - val_accuracy: 0.7181
Epoch 39/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5830 - accuracy: 0.7194 - val_loss: 0.5831 - val_accuracy: 0.7202
Epoch 40/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5818 - accuracy: 0.7214 - val_loss: 0.5828 - val_accuracy: 0.7198
Epoch 41/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5826 - accuracy: 0.7220 - val_loss: 0.5821 - val_accuracy: 0.7185
Epoch 42/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5821 - accuracy: 0.7206 - val_loss: 0.5833 - val_accuracy: 0.7198
Epoch 43/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5833 - accuracy: 0.7200 - val_loss: 0.5827 - val_accuracy: 0.7183
Epoch 44/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5831 - accuracy: 0.7211 - val_loss: 0.5824 - val_accuracy: 0.7169
Epoch 45/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5837 - accuracy: 0.7221 - val_loss: 0.5819 - val_accuracy: 0.7195
Epoch 46/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5826 - accuracy: 0.7210 - val_loss: 0.5821 - val_accuracy: 0.7165
Epoch 47/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5819 - accuracy: 0.7207 - val_loss: 0.5829 - val_accuracy: 0.7195
Epoch 48/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5839 - accuracy: 0.7217 - val_loss: 0.5826 - val_accuracy: 0.7201
Epoch 49/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5826 - accuracy: 0.7217 - val_loss: 0.5826 - val_accuracy: 0.7173
Epoch 50/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5815 - accuracy: 0.7225 - val_loss: 0.5831 - val_accuracy: 0.7165
dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5831 - accuracy: 0.7165 - 1s/epoch - 4ms/step
Loss: 0.5831062197685242, Accuracy: 0.7165014743804932

In [42]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
# Save the model to an HDF5 file
model.save('AlphabetSoupCharity_Optimization.h5')